* {
  box-sizing: border-box;
}
.column {
  float: left !important;
  width: 50% !important;
  padding: 10px !important;
  height: 400px !important;
}
.row:after {
  display: table !important;
}
.row{
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
img {
  border-radius: 5% !important;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100% !important;
  }
}
